html {
  background: #eee;
  padding:    0em 10em;
  height: 100%;
  position:   relative;

  body {
    font-family: Verdana, Helvetica;
    font-size:   11pt;
    min-height:  90%;
    background:  white;
    padding:     2em;
    position:    relative;
  }
}